<h1>Editing Resultados De Aprendizaje</h1>

<%= render 'form', resultados_de_aprendizaje: @resultados_de_aprendizaje %>

<%= link_to 'Show', @resultados_de_aprendizaje %> |
<%= link_to 'Back', resultados_de_aprendizajes_path %>
