<h1>Editing Resultados De Aprendizaje</h1>

<%= render 'form', resultados_de_aprendizaje: @resultados_de_aprendizaje %>

<%= link_to 'Mostrar', @resultados_de_aprendizaje %> |
<%= link_to 'Volver', resultados_de_aprendizajes_path %>
