<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion resultado:</strong>
  <%= @resultados_de_aprendizaje.descripcion_resultado %>
</p>

<%= link_to 'Editar', edit_resultados_de_aprendizaje_path(@resultados_de_aprendizaje) %> |
<%= link_to 'Volver', resultados_de_aprendizajes_path %>
