<h1>Agregar programa</h1>

<%= render 'form', programa: @programa %>

<%= link_to 'Agregar RDA', new_rda_path, :class => "btn btn-info"%>
<br>

<%= link_to 'Volver', programas_path, :class => "btn btn-warning" %>
