<h1>Agregar programa</h1>

<%= render 'form', programa: @programa %>

<%= button_to "Nueva unidad", {:action => :new_unity }, { :method => :post, class: 'btn btn-primary btn-block active'}  %>

<%= link_to 'Volver', programas_path %>
